@model IEnumerable<MovieDb.Models.Movie>


@{
    ViewBag.Title = "Search Results";
    var searchType = (string)Session["SearchType"];
    var text = (string)Session["SearchedFor"];
    if (searchType == "Default") { 
    <h2>Search results for <span style="color: steelblue; font-size:xx-large">@text</span> in Titles/Genres:</h2>
    }
    else if (searchType == "Advanced")
    {
        <h2>Advanced search results:</h2>
    }
}

@{ if (Model != null)
    {
        
        @Html.Partial("~/Views/Movies/Listed.cshtml", Model)
    } }
